*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 3%;
}

.product
{
    width: 13%;
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    background-color: red;
    padding: 1%;
    margin-left: 2%;
}

.img
{
    width: 100%;
    height: 50%;
}

.name
{
    color: white;
    font-size: 1.2rem;
    margin-top: 5%;
}

.price
{
    color: white;
    font-size: 1.2rem;
    margin-top: 2%;
}

.button
{
    width: 100%;
    height: 15%;
    margin-top: 28%;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    border: none;
}


/* CART */
.cart
{
    width: 30%;
    height: 95vh;
    background-color: blue;
    position: absolute;
    left: 70%;
    top: 2.5%;
}

.title
{
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 35%;
}

.cartProduct
{
    width: 90%;
    height: 25%;
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 3%;
    padding: 2%;
    margin-top: 10%;
    margin-left: 5%;
}

.cartProduct-img
{
    width: 100%;
    height: 76%;
}

.cartProduct-name
{
    color: white;
    font-size: 1.3rem;
}

.cartProduct-price
{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

.cartProduct-counter
{
    width: 40%;
    height: 15%;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    margin-top: 32%;
    margin-left: 50%;
}

.minus
{
    border: none;
}

.number
{
    color: white;
    text-align: center;
    margin-top: 15%;
}

.plus
{
    border: none;
}

.buyAll
{
    width: 90%;
    height: 8%;
    position: absolute;
    top: 90%;
    left: 5.5%;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: red;
    border: none;
}

#buyAll
{
    border: none;
}